<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Bags - Puppies Passion</title>
        <th:block th:include="~{/fragments/head.html}"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>

    <body>
        <!-- Navigation -->
        <th:block th:include="~{/fragments/header.html}"/>

        <div class="products-container">
            <div class="categories">
                <h1>Products in ${selectedCategory.name()} Category</h1>

                <div class="product-list">
                    <div th:each="product : ${products}" class="product-item">
                        <img th:src="${product.imageUrl}" th:alt="${product.name}" />
                        <h2 th:text="${product.name}"></h2>
                        <p th:text="${product.description}"></p>
                        <span th:text="${product.price}"></span>
                        <a th:href="@{/products/{id}(id=${product.id})}">View Product</a>
                    </div>
                </div>


            </div>
        </div>

        <footer>
            <th:block th:include="~{/fragments/footer.html}"/>
        </footer>
    </body>
</html>