<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registration form</title>
        <th:block th:include="~{/fragments/head.html}"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>

    <body>
        <!-- Navigation -->
        <th:block th:include="~{/fragments/header.html}"/>

        <div class="products-container">
            <h2>Best sellers</h2>
            <div class="best-sellers">
                <a href="" class="best-seller-item">
                    <img src="" alt="Best Seller 1">
                    <span>Best Seller 1</span>
                </a>
                <a href="" class="best-seller-item">
                    <img src="" alt="Best Seller 2">
                    <span>Best Seller 2</span>
                </a>
                <a href="" class="best-seller-item">
                    <img src="" alt="Best Seller 3">
                    <span>Best Seller 3</span>
                </a>
                <a href="" class="best-seller-item">
                    <img src="" alt="Best Seller 4">
                    <span>Best Seller 4</span>
                </a>
            </div>

            <h2>Categories</h2>
            <div class="categories">
                <div th:each="category : ${categories}" class="category-item">
                    <a th:href="@{'/products/category/' + ${category.getName().toLowerCase()}}" class="category-item">
                        <img th:src="${category.getUrl()}" th:alt="${category + '-category'}">
                        <span th:text="${category.getName()}"></span>
                    </a>
                </div>
            </div>
        </div>

        <footer>
            <th:block th:include="~{/fragments/footer.html}"/>
        </footer>
    </body>
</html>