<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home - Puppies Passion</title>
        <th:block th:include="~{/fragments/head.html}"/>
        <link rel="stylesheet" href="/css/home.css"/>
    </head>

    <body>
        <!-- Navigation -->
        <th:block th:include="~{/fragments/header.html}"/>

        <div class="full-background">
            <div class="container">
                <h1>Welcome to Puppies Passion</h1>
            </div>
        </div>

        <footer>
            <div class="information-container">
                <th:block th:include="~{/fragments/footer.html}"/>
            </div>

            <div class="subscription-box">
                <h4>Subscribe to our weekly newsletter</h4>
                <form th:action="@{/users/subscribe}" method="post">
                    <input type="email" placeholder="Enter your email" name="email" required />
                    <button type="submit" placeholder="Subscribe" value="Subscribe">Subscribe</button>
                </form>
            </div>

        </footer>

    </body>
</html>