<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home - Puppies Passion</title>
        <th:block th:include="~{/fragments/head.html}"/>
        <link rel="stylesheet" href="/css/home.css"/>
    </head>

    <body>
        <!-- Navigation -->
        <th:block th:include="~{/fragments/header.html}"/>

        <div class="full-background">
            <div class="container">
                <h1>Welcome to Puppies Passion</h1>
            </div>
        </div>

        <footer>
            <div class="information-container">
                <th:block th:include="~{/fragments/footer.html}"/>
            </div>


            <form action="">
                <!-- Fill up form for the user -->
                <div class="subscription-container">
                    <h4>Weekly newsletter</h4>
                    <input type="text" placeholder="E-mail"
                           name="email" required>
                </div>

                <!-- Button to subscribe -->
                <div class="btn">
                    <button type="submit" placeholder="Subscribe"
                            value="Subscribe">
                        Subscribe
                    </button>
                </div>
            </form>

        </footer>

    </body>
</html>